html {
   background-color: #FFFCF2;
}

.header {
    display: flex;
    justify-content: center;
    color: #52796F;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 300px;
    gap: 20px;
}

.copyright {
    display: flex;
    justify-content: center;
}